@font-face {
  font-family: "futura_stdlight";
  src: url("font/futurastd-light-webfont-webfont.woff2") format("woff2"),
    url("font/futurastd-light-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  --basil-green: #88a308;
  --dark-gray: #333333;
  --light-gray: #e4e1d1;
  --light-green: #f5faef;
  --orange: #0fa3b1;
  --light-orange: #ebbd4e;
  --red: #f00;
  --max-width: 840px;
  --breakpoint: 640px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #0fa3b1;
  border-radius: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
}

.logo {
  cursor: pointer;
  margin-right: auto;

  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}

a.logo {
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  text-transform: uppercase;
  color: white;
  text-underline-offset: 0.2rem;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

.nav-links li a:hover {
  text-decoration-color: white;
}

.nav-links li a.active {
  text-underline-offset: 0.2rem;
  text-decoration: underline 0.15em rgba(255, 255, 255, 1);
  transition: text-decoration-color 300ms;
}

.title {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  margin-right: auto;
}

.sign-out-link {
  margin-left: 25px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
}

.sign-out-link:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.content {
  padding: 3.5rem 12rem 0rem 12rem;
}

.avatar {
  width: 150px;
}

.section {
  margin: 25px 0px;
  display: flex;
  justify-content: flex-start;
}

.sectionContact {
  margin-left: 35px;
}

.sectionInside {
  display: block;
  margin-left: auto;
}

.copy {
  text-indent: 25px;
  line-height: 2;
}

.years {
  margin-left: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
}

.h1 {
  padding-bottom: 5px;
}

.h3 {
  padding-top: 14px;
}

ol.boolet {
  list-style-type: circle;
  line-height: 2;
  padding-left: 10px;
}

p {
  padding: 5px 0px;
}

.skills {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}

.skills-icons {
  width: 80px;
  padding: 20px 0px 20px 0px;
}

@media screen and (max-width: 900px) {
  header {
    background: gba(0, 136, 169, 1);
  }
  .logo {
    order: 0;
  }
  .content {
    padding: 3.5rem 8rem 0rem 8rem;
  }
}

@media screen and (max-width: 390px) {
  img.avatar {
    width: 200px;
    position: relative;
    top: 100px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .content {
    padding: 3.5rem 2rem 0rem 2rem;
  }
  .section {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    display: none;
  }
  .skills {
    display: block;
    text-align: center;
    margin: 0;
  }
  .skills-icons {
    margin: 25px;
    padding: 0;
  }
  hr.skills {
    margin-bottom: 15px;
  }
  .modal {
    max-width: 362px !important;
    min-width: 200px !important;
  }
}

.modal {
  max-width: 600px;
  min-width: 400px;
  padding: 2rem;
  border-radius: 5px;
  min-height: 200px;
  border: 2px solid var(--orange);
  background: white;
  transform: translateY(200%);
  transition: transform 1s;
}

.modal-outer.open .modal {
  transform: translateY(0);
}

.open {
  display: block;
}

.closer {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 2rem;
  height: 2rem;
  background: #fff;
  color: var(--orange);
  border: 4px solid var(--orange);
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}

.modal-outer {
  display: grid;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  /* Hide this until we need it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}

form {
  padding: 2em 0;
}

label {
  display: block;
}

input,
textarea {
  border: 1px solid #666;
  border-radius: 5px;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font: inherit;
}

.button {
  padding: 10px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
}

.button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

input:focus,
textarea:focus {
  box-shadow: 0 0 15px #83d9ff;
}

input:required,
textarea:required {
  background-color: #e9f8ff;
}

input:valid,
textarea:valid {
  background-color: #b3ffb3;
}

input:focus:invalid,
textarea:focus:invalid {
  background-color: #ffcccc;
}
